main,
footer {
  // @include blurry;
  width: 100%;
}
main {
  width: 100%;
  height: 86%;
  @include flexcol;
  justify-content: space-evenly;
}
footer {
  @include flexrow;
  order: 5;
  border-radius: 0;
  overflow-x: auto;
  overflow-y: none;
  gap: 1%;
  scrollbar-width: none;
  height: 7%;
}

.inputF,
.outputF,
.dynamicC {
  @include flexrow;
//   @include blurry;
}
.dynamicC{
  flex-direction: column;
  width: 100%;
}
.inputF,
.outputF {
  height: 7%;
}
.dynamicH {
  height: 8%;
  width: 100%;
  text-align: center;
  order: -3;
}
.dynamicC {
  height: 78%;
  border-radius: 0;
}
.inputF {
  width: 100%;
  position: relative;
  order: -2;
  justify-content: center;
  p {
    height: 100%;
    @include flexrow;
    // @include blurry;
    width: 20%;
    min-width: 20%;
    text-align: center;
  }
  .clrbtn {
    position: absolute;
    right: 20%;
  }
}
input,
textarea {
  width: 30%;
  padding: 5px 5px;
  resize: none;
  height: 100%;
  background: transparent;
  @include blurry;
  border: 0;
  outline: 0;
  text-align: left;
  overflow: auto;
  scrollbar-width: none;
  &::placeholder {
    text-align: left;
    color: inherit;
    opacity: 0.3;
  }
}
.btn {
//   @include blurry;
  @include flexrow;
  height: 80%;
  width: 20%;
  margin: auto;
}
.outputF {
  @include flexcol;
  text-align: center;
  gap: 10px;
  width: 100%;
  order: 1;
  .btn {
    width: 30%;
  }
  p {
    width: 100%;
  }
}

button{
  width: 20%;
  padding: 2px 0;
  margin: auto;
  background-color: black;
  border: 1px solid ;
  color: wheat;
  &:hover{
color: gold;
background-color: lighten(wheat, 40%);
  }
}